---
import { Image } from "@astrojs/image/components";
import DonationCard from "../components/DonationCard.astro";
import HeaderLink from "../components/HeaderLink.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div
    id="donate"
    class="flex flex-col lg:flex-row-reverse mx-auto p-8 mb-8 justify-around items-start sticky top-0"
  >
    <div class="grid gap-6">
      <Image
        src={import("../assets/appeal_1200.jpg")}
        format={"webp"}
        alt="Please support the shelter. :)"
        class="hidden sm:block max-w-lg rounded-md shadow-xl lg:ml-5"
      />
      <Image
        src={import("../assets/pets/dog_2.jpg")}
        format={"webp"}
        alt="Please support the shelter. :)"
        class="hidden sm:block max-w-lg rounded-md shadow-xl lg:ml-5"
      />
      <Image
        src={import("../assets/pets/cat_1.jpg")}
        format={"webp"}
        alt="Please support the shelter. :)"
        class="hidden sm:block max-w-lg rounded-md shadow-xl lg:ml-5"
      />
    </div>
    <div class="prose prose-xl">
      <h1 class="mt-8 lg:mt-0">Donate</h1>
      <p>
        Donations pay for dog food, cat food, veterinary care and all the
        expenses involved in running a no-kill animal shelter. Happy Animals
        Club has no source of funding other than donations received via this
        website. Donations are used for day-to-day operations, as well as the
        upkeep and improvement of the shelter's facilities.
      </p>
      <div class="flex flex-col items-center sm:flex-row justify-around">
        <DonationCard
          title="Donate via PayPal"
          subtitle="(One-time)"
          imageAlt="PayPal"
          imageURL="https://www.paypalobjects.com/webstatic/mktg/Logo/pp-logo-200px.png"
          href={"https://www.paypal.com/paypalme/happyanimalsclub"}
        />
        <div class="mt-6 sm:mt-0">
          <DonationCard
            title="Donate via Patreon"
            subtitle="(Monthly)"
            imageAlt="Patreon"
            imageURL="/patreon.png"
            href="https://www.patreon.com/happyanimalsclub"
          />
        </div>
      </div>

      <p>
        If you prefer to donate via wire / bank transfer,
        <a rel="prefetch" href="/wire"> click here for more info.</a>
      </p>

      <h2>More about the shelter</h2>
      <div class="flex flex-col md:flex-row">
        <HeaderLink href="/about">About</HeaderLink>
        <HeaderLink
          href="https://www.instagram.com/happyanimalsclub/"
          icon="instagram">Instagram</HeaderLink
        >
        <HeaderLink
          href="https://www.facebook.com/happy.animals.club.animal.shelter/"
          icon="facebook">Facebook</HeaderLink
        >
      </div>
    </div>
  </div>
</BaseLayout>
