---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div id="donate"></div>
</BaseLayout>

<style>
  #donate {
    background-image: url("/appeal_1200.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
</style>
