---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import { SITE_DESCRIPTION,SITE_TITLE } from '../config';
---

<!DOCTYPE html>
<html lang="en" data-theme="lofi">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<!-- <Header title={SITE_TITLE} /> -->
		<main>
			<Hero />
		</main>
		<Footer />
	</body>
</html>

