---
import { Image } from "@astrojs/image/components";

// import HeroCrop from '../assets/hero_crop.jpg';
// import Dog1 from '../assets/dog_1.jpg';
// import Dog2 from '../assets/dog_2.jpg';
// import Dog3 from '../assets/dog_3.jpg';
// import Dog4 from '../assets/dog_4.jpg';
// import Dog5 from '../assets/dog_5.jpg';
// import Dog6 from '../assets/dog_6.jpg';
// import Cat1 from '../assets/cat_1.jpg';
// import Cat2 from '../assets/cat_2.jpg';
// import Cat3 from '../assets/cat_3.jpg';
---

<style>
  #hero-collage {
    max-width: 50%;
  }

  .row {
    @apply hidden md:flex;
    @apply flex-wrap justify-center;
    @apply px-1 py-0;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    @apply px-1 py-0;
    @apply lg:max-w-[25%];
    /* @apply ; */
  }

  .column img {
    @apply mt-2 w-full align-middle;
    @apply rounded-md shadow-xl cursor-pointer;
    @apply transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }

  .column div {
    @apply mx-1;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      /* max-width: 50%; */
      @apply lg:max-w-[50%];
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      @apply max-w-full;
    }
  }
</style>

<div class="block md:hidden w-screen max-h-[430px]">
  <Image
    src={import("../assets/hero_crop.jpg")}
    alt="Happy Animals Club"
    format={"webp"}
  />
</div>
<div id="hero-collage">
  <div class="row">
    <div class="column hidden max-w-[200px] md:block">
      <div id="item-0">
        <Image
          src={import("../assets/pets/dog_1.jpg")}
          format={"webp"}
          alt="A dog in a wheelchair"
        />
      </div>
      <div id="item-1">
        <Image
          src={import("../assets/pets/dog_2.jpg")}
          format={"webp"}
          alt="A dog in a wheelchair"
        />
      </div>
      <div id="item-2">
        <Image
          src={import("../assets/pets/dog_3.jpg")}
          alt="A dog sleeping"
          format={"webp"}
        />
      </div>
    </div>
    <div class="column mt-5 hidden lg:block">
      <div id="item-3">
        <Image
          src={import("../assets/pets/dog_4.jpg")}
          alt="A dog chilling"
          format={"webp"}
        />
      </div>
      <div id="item-4">
        <Image
          src={import("../assets/pets/dog_5.jpg")}
          alt="A puppy"
          format={"webp"}
        />
      </div>
      <div id="item-5">
        <Image
          src={import("../assets/pets/cat_1.jpg")}
          alt="A cat"
          format={"webp"}
        />
      </div>
    </div>
    <div class="column hidden lg:block">
      <div id="item-6">
        <Image
          src={import("../assets/hero_crop.jpg")}
          alt="Another dog"
          format={"webp"}
        />
      </div>
      <div id="item-7">
        <Image
          src={import("../assets/pets/cat_2.jpg")}
          alt="Another cat"
          format={"webp"}
        />
      </div>
      <div id="item-8">
        <Image
          src={import("../assets/pets/cat_3.jpg")}
          alt="Another cat"
          format={"webp"}
        />
      </div>
      <div>
        <!-- TODO: add another picture -->
        <Image
          src={import("../assets/pets/dog_6.jpg")}
          alt="A puppy"
          format={"webp"}
        />
      </div>
    </div>
  </div>
</div>
