<style>
  #hero-collage {
    max-width: 50%;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }

  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    @apply rounded-md shadow-xl cursor-pointer;
    @apply transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
</style>

<div id="hero-collage">
  <div class="row">
    <div class="column hidden lg:block">
      <div id="item-0">
        <img src="pets/dog_1.jpg" alt="A dog in a wheelchair" />
      </div>
      <div id="item-1">
        <img src="pets/dog_2.jpg" alt="A dog in a wheelchair" />
      </div>
      <div id="item-2">
        <img src="pets/dog_3.jpg" alt="A dog sleeping" />
      </div>
    </div>
    <div class="column mt-5 hidden lg:block">
      <div id="item-3">
        <img src="pets/dog_4.jpg" alt="A dog chilling" />
      </div>
      <div id="item-4">
        <img src="pets/dog_5.jpg" alt="A puppy" />
      </div>
      <div id="item-5">
        <img src="pets/cat_1.jpg" alt="A cat" />
      </div>
    </div>
    <div class="column hidden lg:block">
      <div id="item-6">
        <img src="hero_crop.jpg" alt="Another dog" />
      </div>
      <div id="item-7">
        <img src="pets/cat_2.jpg" alt="Another cat" />
      </div>
      <div id="item-8">
        <img src="pets/cat_3.jpg" alt="Another cat" />
      </div>
      <div>
        <!-- TODO: add another picture -->
        <img src="pets/dog_6.jpg" alt="A puppy" />
      </div>
    </div>
  </div>
</div>
