<style>
  #hero-collage {
    max-width: 50%;
  }

  .row {
    @apply hidden md:flex;
    @apply flex-wrap justify-center;
    @apply px-1 py-0;
  }

  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    @apply px-1 py-0;
    @apply lg:max-w-[25%];
    /* @apply ; */
  }

  .column img {
    @apply mt-2 w-full align-middle;
    @apply rounded-md shadow-xl cursor-pointer;
    @apply transition duration-200 ease-in-out transform hover:-translate-y-1 hover:scale-110;
  }

  .column div {
    @apply mx-1;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      /* max-width: 50%; */
      @apply lg:max-w-[50%];
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      @apply max-w-full;
    }
  }
</style>

<div class="block md:hidden w-screen max-h-[430px]">
  <img src="/hero_crop.jpg" alt="Happy Animals Club" />
</div>
<div id="hero-collage">
  <div class="row">
    <div class="column flex lg:block">
      <div id="item-0">
        <img src="pets/dog_1.jpg" alt="A dog in a wheelchair" />
      </div>
      <div id="item-1">
        <img src="pets/dog_2.jpg" alt="A dog in a wheelchair" />
      </div>
      <div id="item-2">
        <img src="pets/dog_3.jpg" alt="A dog sleeping" />
      </div>
    </div>
    <div class="column mt-5 hidden lg:block">
      <div id="item-3">
        <img src="pets/dog_4.jpg" alt="A dog chilling" />
      </div>
      <div id="item-4">
        <img src="pets/dog_5.jpg" alt="A puppy" />
      </div>
      <div id="item-5">
        <img src="pets/cat_1.jpg" alt="A cat" />
      </div>
    </div>
    <div class="column hidden lg:block">
      <div id="item-6">
        <img src="hero_crop.jpg" alt="Another dog" />
      </div>
      <div id="item-7">
        <img src="pets/cat_2.jpg" alt="Another cat" />
      </div>
      <div id="item-8">
        <img src="pets/cat_3.jpg" alt="Another cat" />
      </div>
      <div>
        <!-- TODO: add another picture -->
        <img src="pets/dog_6.jpg" alt="A puppy" />
      </div>
    </div>
  </div>
</div>
