---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  icon?: "facebook" | "twitter" | "instagram" | "patreon";
}

const { href, class: className, icon, ...props } = Astro.props;
const isActive = href === Astro.url.pathname.replace(/\/$/, "");
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
  {icon && <i icon-name={icon} class="h-4" />}
  <slot />
</a>
<style>
  a {
    display: flex;
    align-items: center;
    @apply text-orange-12 mx-2 px-4 py-2 text-center hover:bg-orange-4 font-semibold rounded;
    @apply transform transition-colors duration-200 ease-in-out;
  }
  a.active {
    @apply underline font-bold;
  }
</style>

<script>
  import { createIcons, Facebook, Instagram, Twitter } from "lucide";
  createIcons({
    icons: {
      Facebook,
      Instagram,
      Twitter,
    },
  });
</script>
