<div id="hero" class="bg-[url('/hero_crop.jpg')] width-full height-[700px] flex flex-col">
    <div class="max-w-[50%]">
    <h1 class="text-2xl font-semibold">Happy Animals Club</h1>
    <h2 class="text-4xl font-bold">
        No-Kill Animal Shelter and Sancturary in the Philippines est. 2014
    </h2>
    <h3 class="text-xl">Become a life saver today!</h3>
    </div>
</div>

<!-- <style>
    #hero {
        background-image: url('/hero_image.jpg');
        width: 100%;
    }
</style> -->