---
import Collage from "./Collage.astro";
---

<div id="hero" class="flex flex-row items-center px-10 bg-orange-1">
  <div class="grid gap-6">
    <h1 class="text-2xl font-semibold text-sand-9">
      Happy Animals Club, est. 2014
    </h1>
    <h2 class="text-4xl font-bold text-sand-12 my-6">
      No-Kill Animal Shelter and Sancturary in the Philippines
    </h2>
    <div class="flex flex-row">
      <button
        class="text-xl text-sand-1 bg-orange-9 flex justify-center items-center p-3 rounded-md font-bold max-w-[50%] uppercase hover:bg-orange-10"
      >
        Become a lifesaver
      </button>
      <button
        class="text-xl text-orange-9 flex justify-center items-center p-3 rounded-md font-bold max-w-[50%] ml-4 border-2 border-orange-6 bg-orange-3 hover:border-orange-8 hover:bg-orange-4"
      >
        Learn more
      </button>
    </div>
  </div>
  <Collage />
</div>
