---
import Collage from "./Collage.astro";
---

<div id="hero" class="flex flex-row items-center px-10 bg-orange-2">
  <div class="grid gap-6 ml-8">
    <div class="prose">
      <h3 class="text-sand-9">Happy Animals Club, est. 2014</h3>
      <h1 class="text-sand-12 my-6">
        No-Kill Animal Shelter and Sancturary in the Philippines
      </h1>
    </div>
    <div class="flex flex-row">
      <a
        class="text-xl text-sand-1 bg-orange-9 flex justify-center items-center p-3 rounded-md font-bold max-w-[50%] uppercase hover:bg-orange-10 cursor-pointer"
        href="/donate"
      >
        Become a lifesaver
      </a>
      <a
        class="text-xl text-orange-9 flex justify-center items-center p-3 rounded-md font-bold max-w-[50%] ml-4 border-2 border-orange-6 bg-orange-3 hover:border-orange-8 hover:bg-orange-4 cursor-pointer"
        href="/about"
      >
        Learn more
      </a>
    </div>
  </div>
  <Collage />
</div>
