---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-orange-2">
    <Header title={SITE_TITLE} />
    <main>
      <slot />
    </main>
    <Footer />
    <style>
      main {
        @apply min-h-[calc(100vh_-_64px)];
      }
    </style>
  </body>
</html>
